* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #F1F1F1;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	padding: 50px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form input,
.signup-form input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.login-form button,
.signup-form button {
	background-color: #262626;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.signup-form {
	display: none;
}

